*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #F6F8FC;
}

.content{
    padding: 1rem; /*espaçamento baseado no tamanho da font */
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.content h1{
    margin: 0;
}

